<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<title></title>
	<link rel="stylesheet" type ="text/css" href="../../Static/items.css">
</head>
<body>
	<center>
		<img src="../../pictures/sportsbras/b4.png">
		<div style="text-align: center;">
		    <div style="display: inline-block; text-align: left;">
				<h3>Name: Celine</h3>
				<p>Sizes: Small - Large</p>
				<p>Description: Light Grey Strappy sports bra</p>
				<p>Material: Fabric: Nylon: 90%, Spandex: 10% </p>
				<p>Price: 399</p>
			</div>
		</div>
	</center>
</body>
</html>