<html>
    <head>
        <title></title>
        <link rel="stylesheet" type ="text/css" href="../Static/sports-bra.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">


        
    </head>
    <center>
        <body>
    <div class="container">
        <div class="navbar">
            <img src="../pictures/logos.jfif" class="logo">
        <nav>
            <ul>
                <li> <a href="index.html"><i class="fa fa-home"></i> HOME</a></i></li>
                <li> <a href="shopnow.html"><i class="fa fa-shopping-cart"></i> SHOP NOW</a>
                
                    <div class="sub-menu-1">
                        <ul>
                            <li><a href="swimsuit.html">SWIMSUIT</a></li>
                            <li><a href="rush-guard.html">RUSH GUARD</a></li>
                            <li><a href="sports-bra.html">SPORTS BRA</a></li>
                        </ul>
                    </div>
                </li>
                <li> <a href="about us.html"><i class="fa fa-users"></i> ABOUT US</a>

                    <div class="sub-menu-3">
                        <ul>
                            <li><a href="#">VISION</a></li>
                            <li><a href="#">MISSION</a></li>
                        </ul>
                    </div>
                </li>
                <li> <a href="contact.html"><i class="fa fa-phone"></i> CONTACT</a>
                
                    <div class="sub-menu-4">
                        <ul>
                            <li><a href="https://www.facebook.com/profile.php?id=100081683234828" target="_blank"><i class="fa fa-facebook-official"></i> FACEBOOK</a></li>
                            <li><a href="mailto:blishophere@gmail.com"><i class="fa fa-envelope"></i> EMAIL</a></li>
                            <li><a href="https://www.instagram.com/blishop_found/" target="_blank"><i class="fa fa-instagram"></i> INSTAGRAM</a></li>
                            <li><a href="https://twitter.com/blis_shop" target="_blank"><i class="fa fa-twitter"></i> TWITTER</a></li>
                        </ul>
                    </div>
                </li>
                <li> <a href="login.html"><i class="fa fa-user"></i> LOG IN</a>
                
                    <div class="sub-menu-2">
                        <ul>
                            <li><a href="#"><i class="fa fa-sign-in"></i>LOG IN</a></li>
                            <li><a href="#"><i class="fa fa-user-plus"></i>SIGN UP</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </nav>
    </div>

    <table border="0">
        <tr>
            <td colspan="4">
                <h1>Sports Bras</h1>
            </td>
        </tr>
        <tr>
            <td width="5%"><br></td>
            <td width="25%">
                <img src="../pictures/sportsbras/b1.png">
                <p>Name:Shelsea</p>
                <p>Price:699</p>
            </td>
            <td width="25%">
                <img src="../pictures/sportsbras/b2.png">
                <p>Name:Lianne</p>
                <p>Price:499</p>
            </td>
            <td width="25%">
                <img src="../pictures/sportsbras/b3.png">
                <p>Name:Cherry</p>
                <p>Price:599</p>
            </td>
        </tr>
        <tr>
            <td width="5%"><br></td>
            <td>
                <img src="../pictures/sportsbras/b4.png">
                <p>Name:Celine</p>
                <p>Price:399</p>
            </td>
            <td>
                <img src="../pictures/sportsbras/b5.png">
                <p>Name:Athena</p>
                <p>Price:499</p>
            </td>

        </tr>
    </table>

    </body>
    </center>
</html>